.circle-content-index{
	width: 100%;
	.container-carousel{
		width: auto;
		padding:0;
		.item{
			.contact-circle{
				width: 100%;
				height: 492px;
				display: inline-block;

				.circle1{
					text-align: center;
					width: 480px;
					height:480px;
					margin: 0 auto;
					border-radius: 100%;
				    opacity: 0.9;
					filter: alpha(opacity=90);
					position: absolute;
				    top:50%;
				    left:50%;    
				    margin: -240px 0px 0px -240px;
					font-size: 40px;
					text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
					&.color1{
						background-color: #00057a;
					}
					&.color2{
						background-color: #001e4d;
					}
					&.color3{
						background-color: #ae00ff;
					}
					p{
						color: #ffffff;
						z-index: 100;
						&.heading{
							padding: 40px 90px 0 90px;
							font-size: 9rem;
							line-height: 8rem;
							font-family: $font-family-headings;
						}
						&.address{
							font-size: 2.8rem;
							padding: 30px 50px;
							line-height: 2.8rem;
						}
						&.tel{
							font-size: 1.8rem;
							padding: 0 60px;	
							line-height: 2.3rem;
						}
					}
				}
			}
		}
		.carousel-control{
			width: 50px;
			height: 50px;
			border-radius: 100%;
			background: $white;
			position: absolute;
			opacity: 1;
			filter: alpha(opacity=100);
			top: 228px;
			-webkit-box-shadow: inset 0px 0px 2px 1px rgba(133,128,133,0.78);
			-moz-box-shadow: inset 0px 0px 2px 1px rgba(133,128,133,0.78);
			box-shadow: inset 0px 0px 2px 1px rgba(133,128,133,0.78);
			&.left,
			&.right{
				right: 320px;
				background-image: none;
				.glyphicon-chevron-left,
				.glyphicon-chevron-right{
					color: #000000;
				}
				&:hover{
					-webkit-box-shadow: inset 0px 0px 3px 3px rgba(133,128,133,0.78);
					-moz-box-shadow: inset 0px 0px 3px 3px rgba(133,128,133,0.78);
					box-shadow: inset 0px 0px 3px 3px rgba(133,128,133,0.78);
				}
			}
			&.left{
				left: 320px;	
			}
		}
	}	
}

$min-width : 1360px;
$max-width : 1370px; 
$width : 10px;
$index-container-height: 492px;
$circle-width: 480px;
$circle-height: 480px;
$margin-top: 240px;
$margin-left: 240px;
$font-size-heading: 9rem;
$font-size-address: 2.8rem;
$font-size-tel: 1.8rem;
$top-carousel: 228px;
$left-carousel: 320px;
$right-carousel: 320px;
$padding-tel: 60px;
@for $i from 1 through 129 {  
  @media (min-width: $min-width) and (max-width: $max-width) {
  	.circle-content-index{
		.container-carousel{  
  	  		.item{
				.contact-circle{
					height: $index-container-height;
					.circle1{
						width: $circle-width;
						height: $circle-height;
						border-radius: 100%;
					    margin-top: -$margin-top;
					    margin-left: -$margin-left;
					    margin-right: 0;
					    margin-bottom: 0;
						p{
							&.heading{
								padding: 40px 90px 0 90px;
								font-size: $font-size-heading;
								line-height: $font-size-heading - 1;
								font-family: $font-family-headings;
							}
							&.address{
								font-size: $font-size-address;
								padding: 30px 50px;
								line-height: $font-size-address;
							}
							&.tel{
								font-size: $font-size-tel;
								padding: 0 $padding-tel;	
								line-height: $font-size-tel + 0.5;
							}
						}
					}
				}
			}
			.carousel-control{
				top: $top-carousel;
				&.left,
				&.right{
					right: $right-carousel;
				}
				&.left{
					left: $left-carousel;	
				}
			}
		}
	}

  }
  $min-width : $min-width + $width;
  $max-width : $max-width + $width;
  $index-container-height : $index-container-height + 2;
  $circle-width : $circle-width + 2;
  $circle-height : $circle-height + 2;
  $margin-top : $margin-top + 1;
  $margin-left : $margin-left + 1; 
  $font-size-heading : $font-size-heading + 0.08;
  $top-carousel : $top-carousel + 1;
  $left-carousel : $left-carousel + 3;
  $right-carousel : $right-carousel + 3;
  $font-size-address : $font-size-address + 0.02;
  $padding-tel : $padding-tel + 1;
  $font-size-tel : $font-size-tel + 0.01;
}
