<div class="container">
    <h1 class="mainHeading headFont">WHAT WE DO</h1>
    <p class="contentCentered">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>

    <div class="tap contentCentered">
        <div class="rain">
            <div style="font-size: 43px;left: 5px;top: 150px;" class="icomatic droplets" id="drop2">drop</div>
            <div style="font-size: 60px;left: 60px;top: 405px;" class="icomatic droplets" id="drop2">drop</div>
            <div style="font-size: 35px;left: 535px;top: 115px;" class="icomatic droplets" id="drop2">drop</div>
            <div style="font-size: 50px;left: 490px;top: 340px;" class="icomatic droplets" id="drop2">drop</div>
        </div>
    	<img src="img/glass2.png" />
    </div>

    <h1 class="mainHeading headFont">OUR APPROACH</h1>
    <p class="contentCentered">
    	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus lacus sit amet magna vulputate, ornare elementum tellus rutrum. Pellentesque sit amet metus ex. Duis tortor justo, facilisis suscipit sollicitudin sit amet, elementum sed purus.
    </p>
    <div class="outer-circle">
    	<div class="info-circle hide">0 </div>
        <div class="info-circle hide">1</div>
        <div class="info-circle hide">2 </div>
        <div class="info-circle hide">3 </div>
        <div class="inner-circle">
    		<span class="number">1</span>
    		<h3>Discovery</h3>
    		<p>
    			The more we understand our clients and the challenges they face, the better positioned we are to help them grow. Our goal is to deeply understand how the products and services can be categorised and organized in order to create the maximum potential of exposure to relevant costumers.
    		</p>
    		<span class="continue one"><span class="small-circle"></span><br><span class="icomatic">location</span><a href="#gotoTwo">continue</a></span>
    	</div>
    </div>
    <div class="row padding-top-25" id="gotoTwo"></div>
    <div class="outer-circle" >
        <div class="inner-circle">
            <span class="number">2</span>
            <h3>STRATEGY</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus lacus sit amet magna vulputate, ornare elementum tellus rutrum. Pellentesque sit amet metus ex. Duis tortor justo, facilisis suscipit sollicitudin sit amet, elementum sed purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus lacus sit amet magna vulputate, ornare elementum tellus rutrum. Pellentesque sit amet metus ex.
            </p>
            <span class="continue"><span class="small-circle"></span><br><span class="icomatic">location</span><a href="#gotoThree">continue</a></span>
        </div>
    </div>
    <div class="row padding-top-25" id="gotoThree"></div>
    <div class="outer-circle">
        <div class="inner-circle">
            <span class="number">3</span>
            <h3>SPECIFY</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus lacus sit amet magna vulputate, ornare elementum tellus rutrum. Pellentesque sit amet metus ex. Duis tortor justo, facilisis suscipit sollicitudin sit amet, elementum sed purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus lacus sit amet magna vulputate, ornare elementum tellus rutrum. Pellentesque sit amet metus ex.
            </p>
            <span class="continue"><span class="small-circle"></span><br><span class="icomatic">location</span><a href="#gotoFour">continue</a></span>
        </div>
    </div>
    <div class="row padding-top-25" id="gotoFour"></div>
    <div class="outer-circle">
        <div class="inner-circle">
            <span class="number">4</span>
            <h3>DESIGN</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus lacus sit amet magna vulputate, ornare elementum tellus rutrum. Pellentesque sit amet metus ex. Duis tortor justo, facilisis suscipit sollicitudin sit amet, elementum sed purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus lacus sit amet magna vulputate, ornare elementum tellus rutrum. Pellentesque sit amet metus ex.
            </p>
            <span class="continue"><span class="small-circle"></span><br><span class="icomatic">location</span><a href="#gotoFive">continue</a></span>
        </div>
    </div>
    <div class="row padding-top-25" id="gotoFive"></div>
    <div class="outer-circle">
        <div class="inner-circle">
            <span class="number">5</span>
            <h3>INTEGRATE</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus lacus sit amet magna vulputate, ornare elementum tellus rutrum. Pellentesque sit amet metus ex. Duis tortor justo, facilisis suscipit sollicitudin sit amet, elementum sed purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus lacus sit amet magna vulputate, ornare elementum tellus rutrum. Pellentesque sit amet metus ex.
            </p>
            <span class="continue"><span class="small-circle"></span><br><span class="icomatic">location</span><a href="#gotoSix">continue</a></span>
        </div>
    </div>
    <div class="row padding-top-25" id="gotoSix"></div>
    <div class="outer-circle">
        <div class="inner-circle">
            <span class="number">6</span>
            <h3>DEPLOY</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus lacus sit amet magna vulputate, ornare elementum tellus rutrum. Pellentesque sit amet metus ex. Duis tortor justo, facilisis suscipit sollicitudin sit amet, elementum sed purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus lacus sit amet magna vulputate, ornare elementum tellus rutrum. Pellentesque sit amet metus ex.
            </p>
            <span class="continue"><span class="small-circle"></span><br><span class="icomatic">location</span><a href="#gotoSeven">continue</a></span>
        </div>
    </div>
    <div class="row padding-top-25" id="gotoSeven"></div>
    <div class="outer-circle">
        <div class="inner-circle">
            <span class="number">7</span>
            <h3>Evolve</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus lacus sit amet magna vulputate, ornare elementum tellus rutrum. Pellentesque sit amet metus ex. Duis tortor justo, facilisis suscipit sollicitudin sit amet, elementum sed purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus lacus sit amet magna vulputate, ornare elementum tellus rutrum. Pellentesque sit amet metus ex.
            </p>
            <span class="continue"><span class="small-circle"></span><br><span class="icomatic">location</span></span>
        </div>
    </div>
</div>
