body {
	font-size: $font-size-base;
	font-family: $font-family-body;
    font-weight: 500;
	/*background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	*/
	&.services{
		background: url('../../.tmp/img/top-bg.png') no-repeat 0 0, url('../../.tmp/img/bottom-bg.png') no-repeat bottom right, url('../../.tmp/img/bg-1.png') repeat;
	}
	&.index{
		background: url('../../.tmp/img/stock-photo-amsterdam.gif') no-repeat left top;
		background-size: cover;
	}
	&.solutions{
		background-image: url('../../.tmp/img/bg-41.png');
	}
	&.company{
		background-image: url('../../.tmp/img/bg-31.png');
	}
	&.contact{
		background-image: url('../../.tmp/img/bg-5.png');
	}
}

// Links
a {
	color: $brand-tundora;
	text-decoration: none;
	outline: none;
	&:hover {
		text-decoration: underline;
	}
	&.no-decoration:hover {
	  text-decoration: none;
	}
	.hover-underline:hover {
	  text-decoration: underline;
	}
}
.link {
  font-size: rem(12);
  cursor: pointer;
  color: $brand-blue;
  font-weight: $font-weight-bold;
}
// List
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

// Heading
h1 {
	font-size: rem(26);
	font-weight: normal;
}

h2 {
	font-size: rem(20);
}

h3 {
	font-size: rem(15);
}

h4 {
	font-size: rem(13);
}

h2, h3, h4 {
	font-weight: $font-weight-bold;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}

// Paragraph
p {
	font-size: rem(13);
	line-height: 1.7;
	word-wrap: break-word;
	margin: 0;
	//padding: modular-scale($base-padding, 0, $golden) 0 0 0;
	& + p {
		//padding-top:modular-scale($base-padding, 1, $golden);
	}
	&.no-space {
		padding: 0;
	}
}

// Images
img {
  max-width: 100%;
}

.headFont{
  font-family: $font-family-headings;
  text-align: center;
  text-decoration: underline;
}

.mainHeading{
  margin-top: 11rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 14rem;
}

.contentCentered{
  text-align: justify;
  //padding: 0 28rem;
  font-size: 2rem;
  line-height: 1.4;
  width: 572px;
  margin: 0 auto;
  &.company{
  	width: 920px;
  }
}

