
header.container{
	width: $width-base;
	margin: 0 auto;
	position: relative;
	.container{
		width: 450px;
		margin: 0 auto;
		float: right;
		position: relative;
		font-family: $font-family-headings;
		font-weight: normal;
    	background-color: inherit;
    	.collapsing {
			display:none;
		}
	}
	ul.navbar-nav.collapse{
		border-bottom: none;
		padding-top: 0;
		li{
			a{
				font-size: 2.5rem;
				color: #C5C8C8;
				padding: 10px;
			}
			&.active{
				a{
					background: inherit;
					color: #989898;
					border-bottom: 3px solid #989898;
				}
			}
			&:hover{
				a{
					color: #989898;
					//border-bottom: 3px solid #989898;
				}
			}
		}
	}
}
.navbar.navbar-default {
    font-family: $font-family-headings;
    background-color: inherit;
	border: 0;
	margin-bottom: 0;
	.navbar-brand {
		width: 280px;
		text-align: center;
		height: 110px;
		position: relative;
		margin: 15px 15px 0 0;
		padding-top: 30px;	
		a{
			outline:none;
		}
	}
	ul.navbar-nav{
		border-bottom: none;
		padding-top: 44px;
		li{
			a{
				font-size: 3rem;
				color: #C5C8C8;
				padding: 21px 23px 7px 23px;
				border-bottom: 3px solid transparent;
				outline:none;
			}
			&.active{
				a{
					background: inherit;
					color: #989898;
					border-bottom: 3px solid #989898;
					outline:none;
				}
			}
			&:hover{
				a{
					color: #989898;
					//border-bottom: 3px solid #989898;
				}
			}
		}
		
	}
	.navbar-secondary{
		//position translated upwards so that transition can be effected
		#company-page{
			width: 238px;
		}
		#contact-page{
			width: 244px;
		}
    	@include transform(translate(0, -31px)); 
    	transition:1s all ease;    	
		position:fixed;
		top:0;
		left:0;
		height:31px;
		width:100%;
		z-index:9999;
		&.translate-up{
			@include transform(translate(0, -31px));
		}
		&.translate-down{
			@include transform(translate(0, 0));
		}
		.navigation{
			height:31px;
			width:325px;
			text-align:center;
			margin:0 auto;
			overflow:hidden;
			padding:0;
			li{
				position:relative;
				margin:0;
				float:left;
				height:31px;
				width:auto;
				border:0;
				padding:0;
				background:#fff;
				a{
					display:block;
					height:31px;
					line-height:31px;
					background:#7ec15c;
					color:#fff;
					font-size:12px;
					text-align:center;
					text-decoration:none;
					text-transform:uppercase;
					border-right:1px solid #ccc;
					padding:0 18px;
					font-family:sans-serif;
					font-weight:600;
					transition:1s all ease;  
					outline:none;
				}
				&:last-child a{
					border-right:0;
				}
				&.active{
					a{
						background:#40a674;
					}
				}
				&:hover{
					a{
						background:rgba(126, 193, 92, 0.7);
					}
				}
				&:nth-child(1) {
					a{
						background:#595959;
					}
					&:hover{
						a{
							background:rgba(89, 89, 89, 1);
						}						
					}
				}
			}
		}
	}
}