div#fifth{
	div{
		&.color1{
			width: $width-circle2;
			height: $width-circle2;
			background: $color-blue;
            left: 160px;
            top: -155px;
			&.animation0{
              @include animation(topLeftToMid 900ms linear 0s forwards);
			}
		}
		&.color2{
			width: $width-circle1;
			height: $width-circle1;
			background: $color-pink;
            top: 673px;
            left: -326px;
			&.animation1{
				@include animation(bottomLeft 1000ms linear 0s forwards);
			}
		}
		&.color3{
			width: $width-circle1;
			height: $width-circle1;
			background: $color-green;
            top: -85px;
            right: 65px;
			&.animation2{
                @include animation(topRightToMid 950ms linear 0s forwards);
			}
		}
	}
}
//media query
$width : 10;
$left : 5px;
$color1-left : 160px;
$color2-left: -326px;
$color3-left: 65px;
$min-width : 1360px;
$max-width : 1370px; 
@for $i from 1 through 129 {
  
  @media (min-width: $min-width) and (max-width: $max-width) {
    div#fifth{
      div{
        &.color1{
          left: $color1-left;
          top: -155px;
        }
        &.color2{
          left: $color2-left;
          top: 673px;
        }
        &.color3{
          right: $color3-left;
          top: -85px;
        }
      }
    }  
  } 
  $min-width : $min-width + $width;
  $max-width : $max-width + $width;
  $color1-left : $color1-left + $left;
  $color2-left: $color2-left + $left;
  $color3-left: $color3-left + $left;
}
