div#zeroth{
	div{
		&.color1{
			width: $width-circle1;
			height: $width-circle1;
			background: $color-orange;
      left: 140px;
      top: -115px;
			&.animation0{
              @include animation(topLeftToMid 900ms linear 0s forwards);
			}
		}
		&.color2{
			width: $width-circle2;
			height: $width-circle2;
			background: $color-purple;
      left: -336px;
      top: 684px;
			&.animation1{
              @include animation(bottomLeft 1000ms linear 0s forwards);
			}
		}
		&.color3{
			width: $width-circle1;
			height: $width-circle1;
			background: $color-blue;
      right: -376px;
      top: 650px;
			&.animation2{
              @include animation(bottomRight 1050ms linear 0s forwards);
			}
		}
		&.color4{
			width: $width-circle3;
			height: $width-circle3;
			background: $color-pink;
      left: 1085px;
      top: -212px;
			&.animation3{
              @include animation(topRightToMid 800ms linear 0s forwards);
			}
		}
	}
}
//media queries
@media (min-width: 1910px) and (max-width: 1920px) {

  div#zeroth{
    div{
      &.color1{
        left: 417px;
        top: -115px;
      }
      &.color2{
        left: -60px;
        top: 684px;
      }
      &.color3{
        right: -100px;
        top: 650px;
      }
      &.color4{
        left: 1363px;
        top: -212px;
      }
    }
  }  
}
$width : 10;
$left : 5px;
$color1-left : 140px;
$color2-left: 336px;
$color3-left: 376px;
$color4-left: 1085px;
$min-width : 1360px;
$max-width : 1370px; 
@for $i from 1 through 129 {
  
  @media (min-width: $min-width) and (max-width: $max-width) {
    div#zeroth{
      div{
        &.color1{
          left: $color1-left;
          top: -115px;
        }
        &.color2{
          left: -$color2-left;
          top: 684px;
        }
        &.color3{
          right: -$color3-left;
          top: 650px;
        }
        &.color4{
          left: $color4-left;
          top: -212px;
        }
      }
    }  
  } 
  $min-width : $min-width + $width;
  $max-width : $max-width + $width;
  $color1-left : $color1-left + $left;
  $color2-left: $color2-left - $left;
  $color3-left: $color3-left - $left;
  $color4-left: $color4-left + $left;
}


@include keyframes(topLeftToMid){
  0% {@include transform(translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  1.67% {@include transform(translate(0.6428px, 0.5609px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  3.33% {@include transform(translate(2.5713px, 2.2435px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  5% {@include transform(translate(5.7853px, 5.048px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  6.67% {@include transform(translate(10.285px, 8.9742px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  8.33% {@include transform(translate(16.0703px, 14.0221px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  10% {@include transform(translate(23.1413px, 20.1919px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  11.67% {@include transform(translate(31.4978px, 27.4834px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  13.33% {@include transform(translate(41.14px, 35.8967px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  15% {@include transform(translate(52.0678px, 45.4317px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  16.67% {@include transform(translate(64.2813px, 56.0885px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  18.33% {@include transform(translate(77.7803px, 67.8671px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  20% {@include transform(translate(92.565px, 80.7675px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  21.67% {@include transform(translate(108.6353px, 94.7896px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  23.33% {@include transform(translate(125.9913px, 109.9335px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  25% {@include transform(translate(144.6328px, 126.1992px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  26.67% {@include transform(translate(164.56px, 143.5867px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  28.33% {@include transform(translate(185.7728px, 162.0959px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  30% {@include transform(translate(208.2712px, 181.7269px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  31.67% {@include transform(translate(232.0553px, 202.4796px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  33.33% {@include transform(translate(257.125px, 224.3542px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  35% {@include transform(translate(283.4803px, 247.3505px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  36.67% {@include transform(translate(303.4712px, 264.7935px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  38.33% {@include transform(translate(290.3228px, 253.3209px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  40% {@include transform(translate(278.46px, 242.97px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  41.67% {@include transform(translate(267.8828px, 233.7409px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  43.33% {@include transform(translate(258.5912px, 225.6335px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  45% {@include transform(translate(250.5853px, 218.648px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  46.67% {@include transform(translate(243.865px, 212.7842px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  48.33% {@include transform(translate(238.4303px, 208.0421px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  50% {@include transform(translate(234.2813px, 204.4219px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  51.67% {@include transform(translate(231.4178px, 201.9234px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  53.33% {@include transform(translate(229.84px, 200.5467px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  55% {@include transform(translate(229.5478px, 200.2917px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  56.67% {@include transform(translate(230.5413px, 201.1585px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  58.33% {@include transform(translate(232.8203px, 203.1471px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  60% {@include transform(translate(236.385px, 206.2575px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  61.67% {@include transform(translate(241.2353px, 210.4896px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  63.33% {@include transform(translate(247.3713px, 215.8435px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  65% {@include transform(translate(254.7928px, 222.3192px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  66.67% {@include transform(translate(263.5px, 229.9167px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  68.33% {@include transform(translate(273.4928px, 238.6359px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  70% {@include transform(translate(284.7713px, 248.4769px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  71.67% {@include transform(translate(297.3353px, 259.4396px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  73.33% {@include transform(translate(303.535px, 264.8492px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  75% {@include transform(translate(297.6328px, 259.6992px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  76.67% {@include transform(translate(293.0163px, 255.671px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  78.33% {@include transform(translate(289.6853px, 252.7646px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  80% {@include transform(translate(287.64px, 250.98px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  81.67% {@include transform(translate(286.8803px, 250.3171px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  83.33% {@include transform(translate(287.4063px, 250.776px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  85% {@include transform(translate(289.2178px, 252.3567px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  86.67% {@include transform(translate(292.315px, 255.0592px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  88.33% {@include transform(translate(296.6978px, 258.8834px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  90% {@include transform(translate(302.3662px, 263.8294px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  91.67% {@include transform(translate(304.5391px, 265.7253px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  93.33% {@include transform(translate(302.26px, 263.7367px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  95% {@include transform(translate(301.2666px, 262.8698px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  96.67% {@include transform(translate(301.5587px, 263.1248px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  98.33% {@include transform(translate(303.1366px, 264.5015px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  100% {@include transform(translate(306px, 267px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
}
@include keyframes(fromLeft){
  0% {@include transform(translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  1.67% {@include transform(translate(1.0566px, -0.0105px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  3.33% {@include transform(translate(4.2266px, -0.042px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  5% {@include transform(translate(9.5098px, -0.0945px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  6.67% {@include transform(translate(16.9064px, -0.1681px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  8.33% {@include transform(translate(26.4162px, -0.2626px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  10% {@include transform(translate(38.0394px, -0.3781px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  11.67% {@include transform(translate(51.7758px, -0.5147px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  13.33% {@include transform(translate(67.6256px, -0.6722px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  15% {@include transform(translate(85.5886px, -0.8508px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  16.67% {@include transform(translate(105.6649px, -1.0503px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  18.33% {@include transform(translate(127.8546px, -1.2709px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  20% {@include transform(translate(152.1575px, -1.5125px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  21.67% {@include transform(translate(178.5737px, -1.7751px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  23.33% {@include transform(translate(207.1033px, -2.0587px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  25% {@include transform(translate(237.7461px, -2.3633px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  26.67% {@include transform(translate(270.5022px, -2.6889px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  28.33% {@include transform(translate(305.3716px, -3.0355px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  30% {@include transform(translate(342.3544px, -3.4031px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  31.67% {@include transform(translate(381.4504px, -3.7918px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  33.33% {@include transform(translate(422.6597px, -4.2014px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  35% {@include transform(translate(465.9823px, -4.632px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  36.67% {@include transform(translate(498.8433px, -4.9587px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  38.33% {@include transform(translate(477.23px, -4.7438px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  40% {@include transform(translate(457.73px, -4.55px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  41.67% {@include transform(translate(440.3433px, -4.3772px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  43.33% {@include transform(translate(425.0699px, -4.2253px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  45% {@include transform(translate(411.9098px, -4.0945px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  46.67% {@include transform(translate(400.8631px, -3.9847px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  48.33% {@include transform(translate(391.9296px, -3.8959px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  50% {@include transform(translate(385.1094px, -3.8281px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  51.67% {@include transform(translate(380.4025px, -3.7813px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  53.33% {@include transform(translate(377.8089px, -3.7556px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  55% {@include transform(translate(377.3286px, -3.7508px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  56.67% {@include transform(translate(378.9616px, -3.767px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  58.33% {@include transform(translate(382.7079px, -3.8043px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  60% {@include transform(translate(388.5675px, -3.8625px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  61.67% {@include transform(translate(396.5404px, -3.9418px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  63.33% {@include transform(translate(406.6266px, -4.042px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  65% {@include transform(translate(418.8261px, -4.1633px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  66.67% {@include transform(translate(433.1389px, -4.3056px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  68.33% {@include transform(translate(449.565px, -4.4688px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  70% {@include transform(translate(468.1044px, -4.6531px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  71.67% {@include transform(translate(488.7571px, -4.8584px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  73.33% {@include transform(translate(498.9481px, -4.9597px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  75% {@include transform(translate(489.2461px, -4.8633px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  76.67% {@include transform(translate(481.6574px, -4.7878px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  78.33% {@include transform(translate(476.1821px, -4.7334px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  80% {@include transform(translate(472.82px, -4.7px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  81.67% {@include transform(translate(471.5712px, -4.6876px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  83.33% {@include transform(translate(472.4358px, -4.6962px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  85% {@include transform(translate(475.4136px, -4.7258px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  86.67% {@include transform(translate(480.5047px, -4.7764px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  88.33% {@include transform(translate(487.7091px, -4.848px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  90% {@include transform(translate(497.0269px, -4.9406px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  91.67% {@include transform(translate(500.5985px, -4.9761px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  93.33% {@include transform(translate(496.8522px, -4.9389px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  95% {@include transform(translate(495.2192px, -4.9227px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  96.67% {@include transform(translate(495.6995px, -4.9274px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  98.33% {@include transform(translate(498.2931px, -4.9532px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  100% {@include transform(translate(503px, -5px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
}
@include keyframes(bottomLeft){
  0% {@include transform(translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  1.67% {@include transform(translate(1.5062px, -0.6848px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  3.33% {@include transform(translate(6.0248px, -2.7393px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  5% {@include transform(translate(13.5558px, -6.1634px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  6.67% {@include transform(translate(24.0992px, -10.9572px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  8.33% {@include transform(translate(37.6549px, -17.1207px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  10% {@include transform(translate(54.2231px, -24.6538px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  11.67% {@include transform(translate(73.8037px, -33.5565px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  13.33% {@include transform(translate(96.3967px, -43.8289px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  15% {@include transform(translate(122.002px, -55.4709px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  16.67% {@include transform(translate(150.6198px, -68.4826px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  18.33% {@include transform(translate(182.2499px, -82.864px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  20% {@include transform(translate(216.8925px, -98.615px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  21.67% {@include transform(translate(254.5474px, -115.7357px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  23.33% {@include transform(translate(295.2148px, -134.226px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  25% {@include transform(translate(338.8945px, -154.0859px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  26.67% {@include transform(translate(385.5867px, -175.3156px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  28.33% {@include transform(translate(435.2912px, -197.9148px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  30% {@include transform(translate(488.0081px, -221.8837px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  31.67% {@include transform(translate(543.7374px, -247.2223px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  33.33% {@include transform(translate(602.4792px, -273.9306px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  35% {@include transform(translate(664.2333px, -302.0084px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  36.67% {@include transform(translate(711.0748px, -323.306px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  38.33% {@include transform(translate(680.2662px, -309.2982px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  40% {@include transform(translate(652.47px, -296.66px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  41.67% {@include transform(translate(627.6862px, -285.3915px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  43.33% {@include transform(translate(605.9148px, -275.4926px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  45% {@include transform(translate(587.1558px, -266.9634px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  46.67% {@include transform(translate(571.4092px, -259.8039px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  48.33% {@include transform(translate(558.6749px, -254.014px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  50% {@include transform(translate(548.9531px, -249.5938px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  51.67% {@include transform(translate(542.2437px, -246.5432px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  53.33% {@include transform(translate(538.5467px, -244.8622px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  55% {@include transform(translate(537.862px, -244.5509px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  56.67% {@include transform(translate(540.1898px, -245.6093px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  58.33% {@include transform(translate(545.5299px, -248.0373px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  60% {@include transform(translate(553.8825px, -251.835px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  61.67% {@include transform(translate(565.2474px, -257.0023px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  63.33% {@include transform(translate(579.6248px, -263.5393px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  65% {@include transform(translate(597.0145px, -271.4459px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  66.67% {@include transform(translate(617.4167px, -280.7222px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  68.33% {@include transform(translate(640.8312px, -291.3682px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  70% {@include transform(translate(667.2581px, -303.3838px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  71.67% {@include transform(translate(696.6974px, -316.769px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  73.33% {@include transform(translate(711.2242px, -323.3739px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  75% {@include transform(translate(697.3945px, -317.0859px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  76.67% {@include transform(translate(686.5773px, -312.1676px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  78.33% {@include transform(translate(678.7724px, -308.619px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  80% {@include transform(translate(673.98px, -306.44px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  81.67% {@include transform(translate(672.1999px, -305.6307px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  83.33% {@include transform(translate(673.4323px, -306.191px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  85% {@include transform(translate(677.677px, -308.1209px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  86.67% {@include transform(translate(684.9342px, -311.4206px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  88.33% {@include transform(translate(695.2037px, -316.0898px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  90% {@include transform(translate(708.4856px, -322.1287px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  91.67% {@include transform(translate(713.5768px, -324.4436px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  93.33% {@include transform(translate(708.2367px, -322.0156px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  95% {@include transform(translate(705.9089px, -320.9572px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  96.67% {@include transform(translate(706.5935px, -321.2685px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  98.33% {@include transform(translate(710.2906px, -322.9494px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  100% {@include transform(translate(717px, -326px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
}
@include keyframes(bottomRight){
0% {@include transform(translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
1.67% {@include transform(translate(-1.357px, -0.626px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
3.33% {@include transform(translate(-5.4282px, -2.504px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
5% {@include transform(translate(-12.2134px, -5.6341px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
6.67% {@include transform(translate(-21.7128px, -10.0161px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
8.33% {@include transform(translate(-33.9262px, -15.6502px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
10% {@include transform(translate(-48.8538px, -22.5363px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
11.67% {@include transform(translate(-66.4954px, -30.6743px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
13.33% {@include transform(translate(-86.8511px, -40.0644px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
15% {@include transform(translate(-109.9209px, -50.7066px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
16.67% {@include transform(translate(-135.7049px, -62.6007px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
18.33% {@include transform(translate(-164.2029px, -75.7468px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
20% {@include transform(translate(-195.415px, -90.145px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
21.67% {@include transform(translate(-229.3412px, -105.7952px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
23.33% {@include transform(translate(-265.9815px, -122.6974px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
25% {@include transform(translate(-305.3359px, -140.8516px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
26.67% {@include transform(translate(-347.4044px, -160.2578px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
28.33% {@include transform(translate(-392.187px, -180.916px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
30% {@include transform(translate(-439.6837px, -202.8262px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
31.67% {@include transform(translate(-489.8945px, -225.9885px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
33.33% {@include transform(translate(-542.8194px, -250.4028px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
35% {@include transform(translate(-598.4584px, -276.0691px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
36.67% {@include transform(translate(-640.6615px, -295.5374px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
38.33% {@include transform(translate(-612.9037px, -282.7327px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
40% {@include transform(translate(-587.86px, -271.18px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
41.67% {@include transform(translate(-565.5304px, -260.8793px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
43.33% {@include transform(translate(-545.9149px, -251.8307px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
45% {@include transform(translate(-529.0134px, -244.0341px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
46.67% {@include transform(translate(-514.8261px, -237.4894px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
48.33% {@include transform(translate(-503.3529px, -232.1968px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
50% {@include transform(translate(-494.5938px, -228.1563px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
51.67% {@include transform(translate(-488.5487px, -225.3677px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
53.33% {@include transform(translate(-485.2178px, -223.8311px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
55% {@include transform(translate(-484.6009px, -223.5466px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
56.67% {@include transform(translate(-486.6982px, -224.514px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
58.33% {@include transform(translate(-491.5095px, -226.7335px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
60% {@include transform(translate(-499.035px, -230.205px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
61.67% {@include transform(translate(-509.2745px, -234.9285px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
63.33% {@include transform(translate(-522.2282px, -240.904px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
65% {@include transform(translate(-537.8959px, -248.1316px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
66.67% {@include transform(translate(-556.2778px, -256.6111px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
68.33% {@include transform(translate(-577.3737px, -266.3427px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
70% {@include transform(translate(-601.1838px, -277.3263px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
71.67% {@include transform(translate(-627.7079px, -289.5618px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
73.33% {@include transform(translate(-640.7961px, -295.5994px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
75% {@include transform(translate(-628.3359px, -289.8516px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
76.67% {@include transform(translate(-618.5899px, -285.3557px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
78.33% {@include transform(translate(-611.5579px, -282.1118px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
80% {@include transform(translate(-607.24px, -280.12px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
81.67% {@include transform(translate(-605.6362px, -279.3802px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
83.33% {@include transform(translate(-606.7465px, -279.8924px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
85% {@include transform(translate(-610.5709px, -281.6566px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
86.67% {@include transform(translate(-617.1094px, -284.6728px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
88.33% {@include transform(translate(-626.362px, -288.941px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
90% {@include transform(translate(-638.3287px, -294.4612px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
91.67% {@include transform(translate(-642.9158px, -296.5773px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
93.33% {@include transform(translate(-638.1044px, -294.3578px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
95% {@include transform(translate(-636.0072px, -293.3903px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
96.67% {@include transform(translate(-636.624px, -293.6749px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
98.33% {@include transform(translate(-639.955px, -295.2114px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
100% {@include transform(translate(-646px, -298px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
}
@include keyframes(fromRight){
  0% {@include transform(translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  1.67% {@include transform(translate(-0.8445px, 0.0021px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  3.33% {@include transform(translate(-3.3779px, 0.0084px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  5% {@include transform(translate(-7.6003px, 0.0189px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  6.67% {@include transform(translate(-13.5117px, 0.0336px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  8.33% {@include transform(translate(-21.112px, 0.0525px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  10% {@include transform(translate(-30.4013px, 0.0756px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  11.67% {@include transform(translate(-41.3795px, 0.1029px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  13.33% {@include transform(translate(-54.0467px, 0.1344px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  15% {@include transform(translate(-68.4028px, 0.1702px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  16.67% {@include transform(translate(-84.4479px, 0.2101px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  18.33% {@include transform(translate(-102.182px, 0.2542px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  20% {@include transform(translate(-121.605px, 0.3025px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  21.67% {@include transform(translate(-142.717px, 0.355px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  23.33% {@include transform(translate(-165.5179px, 0.4117px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  25% {@include transform(translate(-190.0078px, 0.4727px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  26.67% {@include transform(translate(-216.1867px, 0.5378px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  28.33% {@include transform(translate(-244.0545px, 0.6071px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  30% {@include transform(translate(-273.6112px, 0.6806px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  31.67% {@include transform(translate(-304.857px, 0.7584px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  33.33% {@include transform(translate(-337.7917px, 0.8403px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  35% {@include transform(translate(-372.4153px, 0.9264px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  36.67% {@include transform(translate(-398.6779px, 0.9917px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  38.33% {@include transform(translate(-381.4045px, 0.9488px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  40% {@include transform(translate(-365.82px, 0.91px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  41.67% {@include transform(translate(-351.9245px, 0.8754px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  43.33% {@include transform(translate(-339.7179px, 0.8451px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  45% {@include transform(translate(-329.2003px, 0.8189px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  46.67% {@include transform(translate(-320.3717px, 0.7969px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  48.33% {@include transform(translate(-313.232px, 0.7792px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  50% {@include transform(translate(-307.7813px, 0.7656px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  51.67% {@include transform(translate(-304.0195px, 0.7563px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  53.33% {@include transform(translate(-301.9467px, 0.7511px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  55% {@include transform(translate(-301.5628px, 0.7502px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  56.67% {@include transform(translate(-302.8679px, 0.7534px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  58.33% {@include transform(translate(-305.862px, 0.7609px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  60% {@include transform(translate(-310.545px, 0.7725px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  61.67% {@include transform(translate(-316.917px, 0.7884px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  63.33% {@include transform(translate(-324.9779px, 0.8084px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  65% {@include transform(translate(-334.7278px, 0.8327px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  66.67% {@include transform(translate(-346.1667px, 0.8611px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  68.33% {@include transform(translate(-359.2945px, 0.8938px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  70% {@include transform(translate(-374.1113px, 0.9306px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  71.67% {@include transform(translate(-390.617px, 0.9717px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  73.33% {@include transform(translate(-398.7617px, 0.9919px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  75% {@include transform(translate(-391.0078px, 0.9727px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  76.67% {@include transform(translate(-384.9429px, 0.9576px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  78.33% {@include transform(translate(-380.567px, 0.9467px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  80% {@include transform(translate(-377.88px, 0.94px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  81.67% {@include transform(translate(-376.882px, 0.9375px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  83.33% {@include transform(translate(-377.5729px, 0.9392px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  85% {@include transform(translate(-379.9528px, 0.9452px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  86.67% {@include transform(translate(-384.0217px, 0.9553px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  88.33% {@include transform(translate(-389.7795px, 0.9696px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  90% {@include transform(translate(-397.2262px, 0.9881px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  91.67% {@include transform(translate(-400.0807px, 0.9952px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  93.33% {@include transform(translate(-397.0867px, 0.9878px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  95% {@include transform(translate(-395.7816px, 0.9845px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  96.67% {@include transform(translate(-396.1654px, 0.9855px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  98.33% {@include transform(translate(-398.2382px, 0.9906px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  100% {@include transform(translate(-402px, 1px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
}
@include keyframes(topRightToMid){
  0% {@include transform(translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  1.67% {@include transform(translate(-0.4559px, 0.6701px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  3.33% {@include transform(translate(-1.8234px, 2.6805px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  5% {@include transform(translate(-4.1027px, 6.0311px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  6.67% {@include transform(translate(-7.2936px, 10.7219px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  8.33% {@include transform(translate(-11.3963px, 16.753px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  10% {@include transform(translate(-16.4106px, 24.1244px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  11.67% {@include transform(translate(-22.3367px, 32.836px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  13.33% {@include transform(translate(-29.1744px, 42.8878px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  15% {@include transform(translate(-36.9239px, 54.2798px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  16.67% {@include transform(translate(-45.5851px, 67.0122px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  18.33% {@include transform(translate(-55.1579px, 81.0847px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  20% {@include transform(translate(-65.6425px, 96.4975px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  21.67% {@include transform(translate(-77.0388px, 113.2505px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  23.33% {@include transform(translate(-89.3467px, 131.3438px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  25% {@include transform(translate(-102.5664px, 150.7773px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  26.67% {@include transform(translate(-116.6978px, 171.5511px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  28.33% {@include transform(translate(-131.7409px, 193.6651px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  30% {@include transform(translate(-147.6956px, 217.1194px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  31.67% {@include transform(translate(-164.5621px, 241.9139px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  33.33% {@include transform(translate(-182.3403px, 268.0486px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  35% {@include transform(translate(-201.0302px, 295.5236px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  36.67% {@include transform(translate(-215.2067px, 316.3638px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  38.33% {@include transform(translate(-205.8825px, 302.6568px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  40% {@include transform(translate(-197.47px, 290.29px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  41.67% {@include transform(translate(-189.9692px, 279.2635px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  43.33% {@include transform(translate(-183.3801px, 269.5772px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  45% {@include transform(translate(-177.7027px, 261.2311px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  46.67% {@include transform(translate(-172.9369px, 254.2253px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  48.33% {@include transform(translate(-169.0829px, 248.5597px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  50% {@include transform(translate(-166.1406px, 244.2344px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  51.67% {@include transform(translate(-164.11px, 241.2493px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  53.33% {@include transform(translate(-162.9911px, 239.6044px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  55% {@include transform(translate(-162.7839px, 239.2998px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  56.67% {@include transform(translate(-163.4884px, 240.3355px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  58.33% {@include transform(translate(-165.1046px, 242.7114px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  60% {@include transform(translate(-167.6325px, 246.4275px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  61.67% {@include transform(translate(-171.0721px, 251.4839px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  63.33% {@include transform(translate(-175.4234px, 257.8805px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  65% {@include transform(translate(-180.6864px, 265.6173px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  66.67% {@include transform(translate(-186.8611px, 274.6944px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  68.33% {@include transform(translate(-193.9475px, 285.1118px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  70% {@include transform(translate(-201.9456px, 296.8694px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  71.67% {@include transform(translate(-210.8554px, 309.9672px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  73.33% {@include transform(translate(-215.2519px, 316.4303px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  75% {@include transform(translate(-211.0664px, 310.2773px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  76.67% {@include transform(translate(-207.7926px, 305.4647px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  78.33% {@include transform(translate(-205.4304px, 301.9922px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  80% {@include transform(translate(-203.98px, 299.86px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  81.67% {@include transform(translate(-203.4413px, 299.068px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  83.33% {@include transform(translate(-203.8142px, 299.6163px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  85% {@include transform(translate(-205.0989px, 301.5048px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  86.67% {@include transform(translate(-207.2953px, 304.7336px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  88.33% {@include transform(translate(-210.4034px, 309.3026px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  90% {@include transform(translate(-214.4231px, 315.2119px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  91.67% {@include transform(translate(-215.964px, 317.477px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  93.33% {@include transform(translate(-214.3478px, 315.1011px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  95% {@include transform(translate(-213.6433px, 314.0655px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  96.67% {@include transform(translate(-213.8505px, 314.3701px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  98.33% {@include transform(translate(-214.9694px, 316.0149px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
  100% {@include transform(translate(-217px, 319px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%));}
}


