//
// Colors
// --------------------------------------------------

//
//## Gray and brand colors for use across the application.
$gray-med:                  #595959;

$black:						#000000; // 1
$white:						#ffffff; // 12

//## Brand Colors

$brand-space:				#343c42; // 3
$brand-tundora:				#444444; // 4
$brand-egg:         		#fff3dd; // 11
$brand-red:         		#ff023e; // 13
$brand-blue: 				#336699; // 14
$brand-blue-light:      	#7a98af; // 15
$brand-green:       		#0e97a3; // 16
$brand-green-hover:         #086f78; // 2
$brand-poppy: 				#b93628; // 17
$brand-gold:        		#cc9e00; // 18
$brand-orange:				#f19e19; // 19
$brand-light-green:         #b8d735;