//
// Colors
// --------------------------------------------------

//
//## Gray and brand colors for use across the application.
$gray-med:                  #595959;

$black:						#000000; // 1
$white:						#ffffff; // 12
